@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    font-family:$font-Poppins;

}
body::-webkit-scrollbar {
    display: none;
    width: 0;
}

.btn{
    border:none;
    background-color: unset;
}
