.footer{
    background-color:#222222;
    &__logo{
        text-align:center;
        padding-top: 80px;
        img{
            width: 160px;
        }
        p{
            padding-top:20px;
            font-size:12px;
            width: 615px;
            margin: auto;
            text-align:center;
            color: #717171;
            margin-bottom: 33px;
        }
        .social{
            width: 170px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            img{
                width: auto;
                height: 14px;
                margin-left: 6px;
            }
        }
        margin-bottom:49px;
    }
    &__contact{
        display: flex;
        width:61%;
        margin: auto;
        border-top: 0.1px solid #414040;
        padding-top: 59px;
        padding-bottom: 9px;
        .contact{
            flex:1;
            ul{
                margin:0;
                padding:0;
                
                :first-child{
                    margin-top: -2px;
                    font-size:14px;
                    font-weight:bold;
                    color: white;
                    padding-bottom: 10px;
                }
                li{
                    font-size: 11px;
                    color: #717171;
                    list-style: none;
                    margin-bottom: 20px;
                    margin-top: -5px;
                    i{
                        font-size:10px !important;
                        margin-right: 16px;
                        color: unset !important;
                        padding-bottom: 0 !important;
                    }
                }
            }

            &-1{
                margin-right: 8px;
            }
            &-3{
               ul{
               
                   margin-left:8px;
                   margin-top: 1px;
               }
            }
            &-4{
                ul{
                   
                    margin-left:15px;
                    margin-top: 1px;
                }
             }
        }
       
    }

}
.copyright{
    margin-top: 0;
    width:100%;
    height:50px;
    background-color:rgb(13, 15, 14);
    text-align: center;
    p{
        font-size:11px;
        color: #717171;
        padding-top: 11px;
    }
}