// Color

$bg-footer: #222;
$bg-header:rgba(0, 0, 0, 0.6);
$black-title-color:#000000;
$title-color: #ffffff;
$bg-color: #ebebeb;
$icon-color: #ffffff;
$mini-title-color: #9a9b9b;
$btn-boder-color: #9a9b9b;
$text-gray:#777777;