.footer{
    margin-top: -3px;
    background-color:#222222;
    &__logo{
        text-align:center;
        padding-top: 100px;
       
        p{
            padding-top:28px;
            line-height:1.7;
            font-size:14px;
            max-width: 713px;
            width: 100%;
            margin: auto;
            text-align:center;
            color: #717171;
            margin-bottom: 33px;
        }
        .social{
            padding-top: 10px;
            width: 220px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            img{
                padding: 0 2px;
                height: 17px;
                margin-left: 6px;
            }
        }
        margin-bottom:58px;
    }
    &__contact{
        display: flex;
        width:61.2%;
        margin: auto;
        border-top: 0.1px solid #414040;
        padding-top: 75px;
        padding-bottom: 9px;
        .contact{
            flex:1;
            ul{
                margin:0;
                padding:0;
                
                :first-child{
                    margin-top: -2px;
                    font-size: 18px;
                    font-weight:bold;
                    color: white;
                    padding-bottom: 8px;
                    padding-left: 2px;
                }
                li{
                    padding-left: 2px;
                    font-size: 14px;
                    color: #717171;
                    list-style: none;
                    margin-bottom: 20px;
                    i{
                        margin-left: -3px;
                        font-size:14px !important;
                        margin-right: 16px;
                        color: unset !important;
                        padding-bottom: 0 !important;
                    }
                  a{
                    padding-left: 0px !important;
                    font-size: 14px !important;
                    color: #717171 !important;
                    list-style: none !important;
                    margin-bottom: 20px !important;
                    font-weight: 400 !important;
                    
                  }
                    
                }
            }

            &-1{
                margin-right: 8px;
            }
            &-3{
               ul{
               
                   margin-left:8px;
                   margin-top: 1px;
               }
            }
            &-4{
                ul{
                   
                    margin-left:18px;
                    margin-top: 1px;
                }
             }
        }
       
    }
    .end{
        height:800px;
        background-color:#222222;
    }

}
.copyright{
    margin-top: 0;
    width:100%;
    height:50px;
    background-color:rgb(13, 15, 14);
    text-align: center;
    p{
        font-size:14px;
        color: #717171;
        padding-top: 14px;
    }
}